.donate-section {
    display: none;
}
.our-impact {
  margin-left: 100px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 991px) {
    html {
      font-size: 90%;
    }
  }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 85%;
    }
    .mission-section .parallax {
      display: none;
    }
  }
  @media only screen and (max-width: 479px) {
    html {
      font-size: 80%;
    }
    .mission-section .parallax  {
      display: none;
    }
  }